[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
django-stubs = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
factory-boy = "*"
django-create-react-app = "*"
django-allauth = "*"
django-crispy-forms = "*"
drf-yasg = {extras = ["validation"],version = "*"}

[requires]
python_version = "3.6"
